section#brands {
    width: 100%;

    margin-top: 6rem;
    margin-bottom: 9rem;
}

section#brands > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    max-width: 64rem;
    margin: 0 auto;

    padding-inline: 2rem;
}

section#brands > div > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    width: 120px;
}

section#brands > div > div > img {
    width: 100%;
}
