section#hero {
    color: var(--color-text-invert);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

section#hero > #hero-bg {
    background-image: url("../assets/images/hero-bg.svg");
    position: absolute;
    top: -10rem;
    z-index: -10;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

section#hero > #hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding-block: 4.5rem;

    max-width: 64rem;

    text-align: center;
}

section#hero > #hero-content > h1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
    text-wrap: balance;
    font-weight: 600;
    max-width: 43rem;
}

section#hero > #hero-content > p {
    font-size: 1rem;
    max-width: 29.5rem;
    text-wrap: pretty;
}

section#hero > #hero-content > form {
    padding: 0.25rem;
    background-color: #ffffff26;
    backdrop-filter: blur(12px);
    border: 1px solid #ffffff26;

    border-radius: 9999px;

    width: 100%;
    max-width: 22.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

section#hero > #hero-content > form > input {
    outline-style: none;
    color: var(--color-text-invert);

    font: inherit;
    font-weight: 500;
    line-height: 150%;
    font-size: 15px;

    padding-inline: 0.75rem;
    padding-block: 1px;

    overflow: clip;
    overflow-clip-margin: 0px;

    width: 100%;

    height: 2rem;
    background-color: transparent;
    border: 0 solid;

    &::placeholder {
        color: var(--color-muted-invert);
    }
}

section#hero > #hero-content > form > button {
    background-color: var(--color-background-main);
    color: var(--color-text-main);

    border: 1px solid var(--color-text-invert);

    font-weight: 500;
    font-size: 15px;

    padding: 4.5px 0.75rem;
    border-radius: 9999px;

    white-space: nowrap;
    flex-shrink: 0;
}

section#hero > #hero-image {
    border: 20px solid var(--color-background-soft);
    overflow: hidden;

    border-radius: 10px 10px 0 0;
    border-bottom-width: 0px;

    max-width: 67.5rem;
    margin-inline: 1rem;
}

section#hero > #hero-image > img {
    width: 100%;
    user-select: none;
    height: auto;
}

@media (min-width: 768px) {
    section#hero > #hero-content {
        padding-block: 6rem;
    }

    section#hero > #hero-content > p {
        font-size: 1.125rem;
    }

    section#hero > #hero-image {
        border-width: 3px;
        border-bottom-width: 0px;
        border-radius: 1.5rem 1.5rem 0 0;
    }
}
