@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    outline: 0;
}

:root {
    --color-background-main: #ffffff;
    --color-background-invert: #08090a;
    --color-text-main: #08090a;
    --color-text-invert: #ffffff;
    --color-text-soft: #08090acc;
    --color-text-sub: #08090a99;
    --color-muted: #08090a80;
    --color-border-sub: #08090a12;
    --color-background-soft: #08090a08;
    --color-border-surface: #08090a0d;
    --color-border-soft: #08090a26;
    --color-brand: #0c8c5e;
    --color-brand-light: #0c8c5e;
    --color-border-solid: #08090a;
    --color-muted-invert: #ffffff80;
}

body {
    font-family: "Inter", sans-serif;

    background-color: var(--color-background-main);
    color: var(--color-text-main);
}
